@import '../node_modules/open-color/open-color.scss';

$brand-primary: $oc-blue-4;
$brand-info: $oc-indigo-4;
$brand-success: $oc-green-4;
$brand-warning: $oc-orange-4;
$brand-danger: $oc-red-4;

$body-background: $oc-gray-9;

$login-background: $oc-gray-3;
$login-color: $oc-gray-7;

$accent-color: $brand-info;
